<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name="Magento and Practice Software E2E Test Suite" verbose="1">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="All E2E and Feature Tests">
        <classes>
            <!-- E2E Scenarios for Magento -->
            <class name="ge.tbc.testautomation.tests.CartManagementE2ETest"/>
            <class name="ge.tbc.testautomation.tests.GuestCheckoutE2ETest"/>
            <class name="ge.tbc.testautomation.tests.PurchaseTest"/>
            <class name="ge.tbc.testautomation.tests.WishlistTest"/>

            <!-- Feature-specific tests for Magento -->
            <class name="ge.tbc.testautomation.tests.ColorChangeTest"/>
            <class name="ge.tbc.testautomation.tests.MobileNavigationTest"/>
            <class name="ge.tbc.testautomation.tests.ProductStockTest"/>
            <class name="ge.tbc.testautomation.tests.ReviewNumberTest"/>
            <class name="ge.tbc.testautomation.tests.ShoppingCartTest"/>

            <!-- Tests for Practice Software Testing website -->
            <class name="ge.tbc.testautomation.tests.IsolatedUserTest"/>
            <class name="ge.tbc.testautomation.tests.SharedUserTests"/>
        </classes>
    </test>

</suite>